@model Project_DATN.Data.EF.Entities.KhachHang

@{
    ViewData["Title"] = "ThuePhong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ThuePhong</h1>
<hr />
<div class="align-content-center">
        <h1 class="text-center text-success">Phòng @ViewBag.TenPhong</h1>
    </div>
<form asp-action="ThuePhong">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hoTenKH" class="control-label"></label>
                <input asp-for="hoTenKH" class="form-control" />
                <span asp-validation-for="hoTenKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gioiTinh" class="control-label"></label>
                <input asp-for="gioiTinh" class="form-control" />
                <span asp-validation-for="gioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soDienThoai" class="control-label"></label>
                <input asp-for="soDienThoai" class="form-control" />
                <span asp-validation-for="soDienThoai" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CCCD" class="control-label"></label>
                <input asp-for="CCCD" class="form-control" />
                <span asp-validation-for="CCCD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diaChi" class="control-label"></label>
                <input asp-for="diaChi" class="form-control" />
                <span asp-validation-for="diaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quocTich" class="control-label"></label>
                <input asp-for="quocTich" class="form-control" />
                <span asp-validation-for="quocTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trangThai" class="control-label"></label>
                <input type="date" asp-for="trangThai"  class="form-control" />
                <span asp-validation-for="trangThai" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="align-content-center">
        <input type="submit" value="Create" class="align-items-center btn btn-primary" />
    </div>
</form>
 



