<ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-end">
    <li class="nav-item dropstart">
            <a type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                <img src="~/images/admin2021.jpg" alt="Alternate Text" class="avatar" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item">
                    <a class="nav-link" href="#" type="button">
                        <div class="profile-details ">
                            <div class="profile-content d-flex position-sticky">
                                <img src="~/images/admin2021.jpg" alt="profileImg">
                                <div class="name-job">
                                    <div class="profile_name">Phạm Việt</div>
                                    <div class="job">C# Developer</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item"><hr class="dropdown-divider"></li>
                <li class="nav-item">
                    <a class="dropdown-item" type="button" href="#">
                        <i class='bx bxs-user-rectangle'></i>
                        <span>Thông tin tài khoản</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" href="#">
                        <i class='bx bx-log-out'></i>
                        <span>Đăng xuất</span>
                    </a>
                </li>
            </ul>
    </li>
</ul>