@model Project_DATN.Data.EF.Entities.GiaoDich

@{
    ViewData["Title"] = "AddGiaoDich";
    Layout = "~/Shared/_LayoutDashboard.cshtml";
}

<h1>AddGiaoDich</h1>

<h4>GiaoDich</h4>
<hr />
<div class="border-1 row justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-action="AddGiaoDich">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="loaiHinhThucThanhToan" class="control-label">Hình Thức Thanh Toán</label>
                <input asp-for="loaiHinhThucThanhToan" class="form-control" />
                @*<select asp-for="loaiHinhThucThanhToan">
            <option >Tiền Mặt</option>
            <option >Thẻ ATM</option>
            <option >Ví Điện Tử</option>
        </select>*@

                <span asp-validation-for="loaiHinhThucThanhToan" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="trangThai" class="control-label"></label>
                <input asp-for="trangThai" class="form-control" />
                <span asp-validation-for="trangThai" class="text-danger"></span>
            </div>
            
            <div class="form-group justify-content-center align-items-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
