@model Project_DATN.Data.EF.Entities.HoaDon

@{
    ViewData["Title"] = "QrCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>QrCode</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="QrCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ID_GiaoDich" class="control-label">Hình Thức Thanh Toán</label>
                <select asp-for="ID_GiaoDich" class="form-control" asp-items="ViewBag.GiaoDich"></select>
                <span asp-validation-for="ID_GiaoDich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_LoaiPhong" class="control-label">Loại Phòng</label>
                <select asp-for="ID_LoaiPhong" class="form-control" asp-items="ViewBag.LoaiPhong"></select>
                <span asp-validation-for="ID_LoaiPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Phong" class="control-label">Phòng</label>
                <select asp-for="ID_Phong" class="form-control" asp-items="ViewBag.Phong"></select>
                <span asp-validation-for="ID_Phong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_GiaoCa" class="control-label">Ca Làm</label>
                <select asp-for="ID_GiaoCa" class="form-control" asp-items="ViewBag.GiaoCa"></select>
                <span asp-validation-for="ID_GiaoCa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maHoaDon" class="control-label"></label>
                <input asp-for="maHoaDon" class="form-control" />
                <span asp-validation-for="maHoaDon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngayGioLap" class="control-label"></label>
                <input asp-for="ngayGioLap" class="form-control" />
                <span asp-validation-for="ngayGioLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngayGioNhanPhong" class="control-label"></label>
                <input asp-for="ngayGioNhanPhong" class="form-control" />
                <span asp-validation-for="ngayGioNhanPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngayGioTraPhong" class="control-label"></label>
                <input asp-for="ngayGioTraPhong" class="form-control" />
                <span asp-validation-for="ngayGioTraPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thoiGianThue" class="control-label"></label>
                <input asp-for="thoiGianThue" class="form-control" />
                <span asp-validation-for="thoiGianThue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tienKhachDua" class="control-label"></label>
                <input asp-for="tienKhachDua" class="form-control" />
                <span asp-validation-for="tienKhachDua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tienTraLai" class="control-label"></label>
                <input asp-for="tienTraLai" class="form-control" />
                <span asp-validation-for="tienTraLai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="giamTru" class="control-label"></label>
                <input asp-for="giamTru" class="form-control" />
                <span asp-validation-for="giamTru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cocTien" class="control-label"></label>
                <input asp-for="cocTien" class="form-control" />
                <span asp-validation-for="cocTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phuThu" class="control-label"></label>
                <input asp-for="phuThu" class="form-control" />
                <span asp-validation-for="phuThu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thueVAT" class="control-label"></label>
                <input asp-for="thueVAT" class="form-control" />
                <span asp-validation-for="thueVAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chietKhau" class="control-label"></label>
                <input asp-for="chietKhau" class="form-control" />
                <span asp-validation-for="chietKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="giamGia" class="control-label"></label>
                <input asp-for="giamGia" class="form-control" />
                <span asp-validation-for="giamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ghiChu" class="control-label"></label>
                <input asp-for="ghiChu" class="form-control" />
                <span asp-validation-for="ghiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trangThai" class="control-label"></label>
                <input type="text"  class="form-control" />
                <span asp-validation-for="trangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fields1" class="control-label"></label>
                <input asp-for="fields1" class="form-control" />
                <span asp-validation-for="fields1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fields2" class="control-label"></label>
                <input asp-for="fields2" class="form-control" />
                <span asp-validation-for="fields2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fields3" class="control-label"></label>
                <input asp-for="fields3" class="form-control" />
                <span asp-validation-for="fields3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fields4" class="control-label"></label>
                <input asp-for="fields4" class="form-control" />
                <span asp-validation-for="fields4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fields5" class="control-label"></label>
                <input asp-for="fields5" class="form-control" />
                <span asp-validation-for="fields5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

