@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Project_DATN.Services.Models.CosoRequest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Cơ sở</h3></div>
    <div class="card-body">
        <form asp-action="CreateCoso" asp-controller="Coso" method="post">
            <div class="form-group">
                <label class="small mb-1" for="inputEmailAddress">Tên cơ sở</label>
                <input asp-for="tenCoSo" class="form-control py-4" id="inputEmailAddress" type="text" />
                <span asp-validation-for="tenCoSo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Chủ sở hữu</label>
                <input asp-for="hoTenNguoiDaiDien" class="form-control py-4" id="inputPassword" type="text" />
                <span asp-validation-for="hoTenNguoiDaiDien" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Mã số thuế</label>
                <input asp-for="maSoThue" class="form-control py-4" id="inputPassword" type="text" />
                <span asp-validation-for="maSoThue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Số điện thoại</label>
                <input asp-for="soDienThoai" class="form-control" />
                <span asp-validation-for="soDienThoai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email"  class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Số tầng</label>
                <input asp-for="solau" class="form-control" />
                <span asp-validation-for="solau" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Ghi chú</label>
                <input asp-for="ghiChu" class="form-control" />
                <span asp-validation-for="ghiChu" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Trạng thái</label>
                <input asp-for="trangThai" class="form-control" />
                <span asp-validation-for="trangThai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Tỉnh/TP</label>
                <select asp-for="ID_Tinh_TP" class="custom-select" asp-items="ViewBag.ListTinh"></select>
                <span asp-validation-for="ID_Tinh_TP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Quận/Huyện</label>
                <select asp-for="ID_Quan_Huyen" class="custom-select" asp-items="ViewBag.ListQH"></select>
                <span asp-validation-for="ID_Quan_Huyen"class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="small mb-1" for="inputPassword">Tài khoản ngân hàng</label>
                <select asp-for="ID_TK_NH" class="custom-select" asp-items="ViewBag.ListTKNH"></select>
                <span asp-validation-for="ID_TK_NH" class="text-danger"></span>
            </div>

            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <input class="btn btn-primary" type="submit" value="Tạo Mới" />
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

